<!-- <button (click) = "playGame()">Play</button>

<h1>
  {{time}}
</h1>
<h1>{{word}}</h1>

<input id="typing-text" type="text" placeholder="Type"> -->

<!-- <h2 *ngIf="time == 0 ">Your Score: {{point}}</h2>
<h2 *ngIf="time != 0 ">You are playing game!</h2>


@if (this.time == 0) {
  <h2>Your Score: {{point}}</h2>
} @else {
  <h2>You are playing game!</h2>
} -->

<!-- @if (this.time == 0 && this.point == 0) {
  <h2>You are loser</h2>
} @else if (this.time == 0 && this.point != 0) {
  <h2>You win!</h2>
} -->

<div id="play-card">
  <div id="top">
    <h1>
      {{time}}s
    </h1>
    <h1>{{word}}</h1>
    <input id="typing" type="text" placeholder="Press Space To Start" [(ngModel)]="check">
    <h1>{{check}}</h1>
  </div>

  <div id="bottom">
    <h2>Score:{{point}}</h2>
    <button (click)="startGame()"><b>PLAY</b></button>
    @if(this.time == 0) {
      <h2>Out Of Time!!!</h2>
    }
  </div>
</div>

<div class="keyboard">
 
  <div class="row">
    @for(letter of alphabet_row1; track $index) {
      <button>{{letter}}</button>
    }
  </div>
  <div class="row">
    @for(letter of alphabet_row2; track $index) {
      <button>{{letter}}</button>
    }  
  </div>
  <div class="row">
    @for(letter of alphabet_row3; track $index) {
      <button>{{letter}}</button>
    }
  </div>
</div>


